= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :section
    = f.number_field :section
  .field
    = f.label :graveyard
    = f.text_field :graveyard
  .field
    = f.label :author
    = f.text_field :author
  .field
    = f.label :headline
    = f.text_field :headline
  .field
    = f.label :path
    = f.text_field :path
  .field
    = f.label :published_at
    = f.datetime_select :published_at
  .field
    = f.label :teaser
    = f.text_area :teaser
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
