%h1 Listing states

%table
  %tr
    %th State code
    %th Country code
    %th Name
    %th Path
    %th
    %th
    %th

  - @states.each do |state|
    %tr
      %td= state.state_code
      %td= state.country_code
      %td= state.name
      %td= state.path
      %td= link_to 'Show', state
      %td= link_to 'Edit', edit_state_path(state)
      %td= link_to 'Destroy', state, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New State', new_state_path
