%h1 Listing counties

%table
  %tr
    %th State
    %th Name
    %th County type
    %th Path
    %th Full path
    %th
    %th
    %th

  - @counties.each do |county|
    %tr
      %td= county.state
      %td= county.name
      %td= county.county_type
      %td= county.path
      %td= county.full_path
      %td= link_to 'Show', county
      %td= link_to 'Edit', edit_county_path(county)
      %td= link_to 'Destroy', county, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New County', new_county_path
