//
// COUNTIES / SHOW - show graveyards in a county
//
//      @county County
//      @graveyards Array
//
// view: /counties/show.html.haml 
// urls:
//      /Illinois/Cook
//      /Missouri/St_Louis_City etc
//
:ruby
    county_name = @county.fancy_name_with_state
    can_edit = !!admin_user?

= render :partial => "counties/county_header", :locals => { :overhead => 'Cemeteries and Graveyards in'}


/ THE COLUMNS.
/ This doesn't use bootstrap, but rather html5 columns, with the number dynamically
/ chosen according to math involving screen width, column and gutter width.
.column-container
    .column-set
        - if current_user
            .cell#symbol-key
                .cell-bottom
                    %ul.symbol-key
                        %li.visits-visited
                            %span.glyphicon.glyphicon-flag
                            you've visited
                        %li.visits-none
                            %span.glyphicon.glyphicon-flag
                            not visited
                        %li.visits-todo
                            %span.glyphicon.glyphicon-flag
                            your to-do list

        - @graveyards.each do |g|
            - pic = g.main_photo
            - klasses = [ 'graveyard', 'cell', pic ? 'with-pix' : 'no-pix' ]
            - visit = @visits.visit_for(g)
            - status = visit ? visit.status : nil
            - klasses.push(visit ? "visits-#{status}" : 'visits-none') if current_user
            %div{class: klasses, data: { location_id: g.id }, id: "g#{g.id}" }
                - if pic
                    .cell-top
                        .thumbnail-box
                            %a{:href=>g.to_url }
                                %img{:src=> pic.thumbnail_path, :alt=>"#{g.name} in #{county_name}" }
                .cell-bottom
                    .cell-main
                        %a{:href=>g.to_url}=g.name
                    - if !pic
                        .no-pix-msg
                            photos not available
                    .cell-tools
                        - if current_user
                            - if status == 'todo'
                                %a.visit-details{href: '#', title: "On your To-Do list"}
                                    %span.glyphicon.glyphicon-flag
                            - elsif ! status.blank?
                                %a.visit-details{href: '#', title: "You visited this location #{visit.visited_on}"}
                                    %span.glyphicon.glyphicon-flag
                            - else
                                %a.visit-details{href: '#', title: "Not visited - click to add to your lists."}
                                    %span.glyphicon.glyphicon-flag

                            - if can_edit
                                %a.edit-link{href: edit_graveyard_path(g)}
                                    %span.glyphicon.glyphicon-pencil

        .clear
    .clear

