:ruby
    main_images = @graveyard.general_photos
    image_data = GalleryPresenter.new(main_images)
    owners = main_images.map(&:user).compact.uniq
    owners << User.find(1) if owners.empty?

%article#graveyard-main-content{itemscope: :itemscope, itemtype: 'http://schema.org/Place'}
    .container-fluid
        .pull-right
            - if @graveyard.located?
                %div{itemprop: :geo, itemscope: :itemscope, itemtype: 'http://schema.org/GeoCoordinates' }
                    %a.google-maps-link{target: '_blank', href:  google_maps_url(@graveyard.lat, @graveyard.lng)}
                        %span{:itemprop=>'latitude'}="%05f" % @graveyard.lat
                        ,
                        %span{:itemprop=>'longitude'}="%05f" % @graveyard.lng
            - else
                Location unknown.

        %h1{itemprop: :name}=@graveyard.name

    .container-fluid
        .row
            #main-image-container.col-md-8
                - if i=main_images.first
                    %img#main-image{itemprop: :photo, src: i.path}
            .col-md-4
                - unless @graveyard.homepage.blank?
                    - short_url = @graveyard.homepage.gsub(%r{^https?://}, '').gsub(%r{/$}, '')
                    #official-site.text-center
                        %div The official web site of
                        %div
                            %a{itemprop: :sameAs, href: @graveyard.homepage, target: '_blank'}=@graveyard.name
                        .small can be found at:
                        %div
                            %a{itemprop: :sameAs, href: @graveyard.homepage, target: '_blank'}=short_url
                        .small
                            Please go there if you wish to contact the management.
                        .small
                            %i graveyards.com
                            is an unaffiliated fan-operated site.

                #thumbs
                    - if main_images.empty?
                        %p No photos available.
                    - main_images.each do |photo|
                        - title = @graveyard.name.to_s
                        - title += photo.caption.blank? ? "" : ": #{photo.caption}"
                        %a.thumb{itemprop: :photo, id: "th#{photo.id}", href: photo.path, style: "background: url(#{photo.thumbnail_path}) 50% 50% no-repeat #ccc", title:title }

                - unless main_images.empty?
                    #photo-info.clear
                        Photos by
                        - owners.each_with_index do |owner|
                            .owner
                                %strong=owner.full_name

                        %p
                            Do not upload elsewhere without permission.
                #share-area
                    %p= @page_meta.fb_like_button





.clear

:javascript
    $(document).ready(function() {
        window.galleryPage = new GraveyardGallery(#{image_data.to_json});
    });
