%h1 Listing county_cemetery_lists

%table
  %tr
    %th Name
    %th State
    %th
    %th
    %th

  - @county_cemetery_lists.each do |county_cemetery_list|
    %tr
      %td= county_cemetery_list.name
      %td= county_cemetery_list.state
      %td= link_to 'Show', county_cemetery_list
      %td= link_to 'Edit', edit_county_cemetery_list_path(county_cemetery_list)
      %td= link_to 'Destroy', county_cemetery_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New County cemetery list', new_county_cemetery_list_path
