//
// COUNTY_CEMETERY_LISTS / SHOW - show graveyards in a county, in a simple tabular format

= render :partial => "counties/county_header", :locals => { :overhead => 'List of Cemeteries in', :active=>'list'}

.container
    %table.table.graveyard-list-table.tablesorter
        %thead
            %tr.headrow
                %th Cemetery Name
                %th Latitude
                %th Longitude
                %th Topo Map
        %tbody
            - @county.graveyards.each do |g|
                - g = g.decorate
                - visit = @visits.visit_for(g)
                - klasses = [ 'graveyard', "visits-#{visit ? visit.status : :none }"]
                %tr{id: "g#{g.id}", class: klasses }
                    %td
                        %a.visit-details{href: '#', title: visit ? visit.caption : nil}
                            %span.glyphicon.glyphicon-flag
                        %a{href: g.to_url}=g.name
                        - unless !visit || visit.notes.blank?
                            .notes=visit.notes
                    %td.lat
                        %span.lat= g.lat_or_unknown
                    %td.lng
                        %span.lng= g.lng_or_unknown
                    %td= g.usgs_map

:coffeescript
    $ ->
        $('.graveyard-list-table').tablesorter()