
%h1 Expeditions

%table.table.sortable-table
    %thead
        %tr.headrow
            %th Name
            %th Started on
            %th Ended on
            %th Graveyard Count
            %th Notes
    %tbody
        - @expeditions.each do |expedition|
            %tr
                %td
                    %a{href: url_for(expedition)}= expedition.name.present? ? expedition.name : expedition.id
                %td= expedition.started_on.strftime("%Y-%m-%d %a") rescue 'Unknown.'
                %td= expedition.ended_on.strftime("%Y-%m-%d %a") rescue 'Unknown.'
                %td= expedition.notes
                / %td= link_to 'Destroy', expedition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Expedition', new_expedition_path
