:ruby
    photo ||= @photo ||= @graveyard.photos.new

= form_for photo, :html=> { multipart: true } do |f|
    - if photo.errors.any?
        #error_explanation
            %h2= "#{pluralize(photo.errors.count, "error")} prohibited this photo from being saved:"
            %ul
                - photo.errors.full_messages.each do |msg|
                    %li= msg

    = f.hidden_field :graveyard_id
    = f.hidden_field :plot_id
    = f.hidden_field :person_id
    = f.hidden_field :story_id

    .field
        = f.label :upload
        = f.file_field :upload, multiple: true, name: 'photo[upload]'

    .actions
        = f.submit 'Save'
        = photo.inspect
