!!! 5
%html{lang: :en, 'xmlns:og'=>"http://ogp.me/ns#", 'xmlns:fb'=>"http://www.facebook.com/2008/fbml"}
    :ruby
        @page_title ||= "graveyards.com"
        @body_id ||= controller.controller_name + "-" + controller.action_name

    %head
        %meta{:charset => 'utf-8'}
        %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}

        %link{:rel=>'shortcut icon', :href=>'/images/icon/favicon.png'}

        %title=@page_title

        - @page_meta.put('title', @page_title)
        - unless @page_meta.canonical.blank?
            %link{rel: 'canonical', href: @page_meta.canonical}
        - @page_meta.finalize.each_pair do |k, v|
            %meta{name: k, content: v}

        = stylesheet_link_tag 'application', media: 'all'

        = csrf_meta_tags

        = javascript_include_tag 'application'
        - if @extra_scripts
            - @extra_scripts.each do |s|
                %script{src: s}

        :javascript
            //<![CDATA[
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '#{Rails.application.secrets.google_analytics_id}', 'auto');
            ga('send', 'pageview');

            window.fbAsyncInit = function() {
                FB.init({
                    appId      : #{@page_meta.facebook_id}, // App ID from the App Dashboard
                    channelUrl : '',
                    status     : true, // check the login status upon init?
                    cookie     : true, // set sessions cookies to allow your server to access the session?
                    xfbml      : true  // parse XFBML tags on this page?
                });
            };

            (function(d, debug){
                 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement('script'); js.id = id; js.async = true;
                 js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
                 ref.parentNode.insertBefore(js, ref);
            }(document, /*debug*/ false));
            //]]>
    %body{id: @body_id, data: { spy: "scroll", offset: 0, target: "#navbar-main"} }
        #wrap
            #top-padding
            #fb-root
            = render :partial => 'navbar_main'
            - if @breadcrumbs && !@breadcrumbs.hidden?
                .container
                    %nav#breadcrumbs
                        %span.separator=' > '.html_safe
                        - @breadcrumbs.parents.each do |b|
                            %a{href: b.url }=b.title
                            %span.separator=' > '.html_safe
                        - @breadcrumbs.here.tap do |b|
                            %strong= b.title ? b.title : @page_title
                            %span.separator=': '.html_safe
            %main#main-content
                = yield

        = render :partial => 'footer'
        - if Rails.env.development?
            #debug-size.debug
                .xs.hidden-md.hidden-lg.hidden-sm Xtra-Small
                .sm.hidden-md.hidden-lg.hidden-xs Small
                .md.hidden-xs.hidden-lg.hidden-sm Medium
                .lg.hidden-md.hidden-sm.hidden-xs Large
                %br.clear
